body {
  font-family: 'Poppins', sans-serif;
  background-color: #0b0b0b;
  color: #fff;
}

.movie-scroller::-webkit-scrollbar {
  height: 8px;
}
.movie-scroller::-webkit-scrollbar-thumb {
  background: #e50914;
  border-radius: 10px;
}

.hero-section {
  background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)),
              url('./images/myhero.jpg');
  background-size: cover;
  background-position: center;
}

/* Smooth sliding effect for button */
.group:hover span:first-child {
  transform: translateX(0);
}

.group span:first-child {
  transform: translateX(-100%);
}

.group:hover span:nth-child(2) {
  transform: translateX(100%);
}
